# SPDX-License-Identifier: GPL-2.0-only

source "drivers/misc/mediatek/Kconfig"
source "drivers/misc/hwid/Kconfig"

config SIMTRAY_STATUS
	tristate "Xiaomi SIM tray status"
	help
	  Say Y here to enable the Xiaomi SIM tray status driver (xiaomi,simtray-status).
